table {
  border: 1px solid;
  text-align: center;
  border-collapse: collapse;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid;
  height: 30px;
}

.pBackGroud {
  background-color: rgb(215, 215, 215);
}

#biaoti {
  border: 1px solid;
  width: 100px;
}

